//override
html,body{
    background-color: $body-background;
    height: 100%;
}

// text overrides
.is-muted{
 color: $grey-light !important; 
}

a.is-muted:hover{
    color: $grey !important; 
}

// .label{
//     font-size: .8rem !important;
// }

//for fileds override

.input:focus, .taginput .taginput-container.is-focusable:focus, .input.is-focused, .taginput .is-focused.taginput-container.is-focusable, .input:active, .taginput .taginput-container.is-focusable:active, .input.is-active, .taginput .is-active.taginput-container.is-focusable, .textarea:focus, .textarea.is-focused, .textarea:active, .textarea.is-active{
    border-color: #00d1b2;
}

// pagination override

.pagination-link.is-current{
    background-color: #00d1b2;
    border-color: #00d1b2;
}

.pagination-previous:focus, .pagination-next:focus, .pagination-link:focus {
    border-color: #00d1b2;
    color: #00d1b2;
}

.pagination-previous:hover, .pagination-next:hover, .pagination-link:hover {
    border-color: #00d1b2;
    color: #00d1b2;
}

.pagination {
    margin: 1rem;
}

.pagination-previous, .pagination-next, .pagination-link {
    color: #00d1b2;
}

.menu-list a.is-active {
    background-color: #00d1b2;
}

.navbar-item.is-tab:hover {
    border-bottom-color: #00d1b2;
}

a.navbar-item:hover, a.navbar-item.is-active, .navbar-link:hover, .navbar-link.is-active {
    color: #00d1b2;
}